
.bloc {
    background: #d3dfed;
    width: 1100px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 0.5%;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.form img {
    width: 200px;
    text-align: center;
    border-radius: 3%;
    margin-top: 10px;

}

.form{
    width: 230px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    text-align: center;
    margin-top: 20px;
    height: 350px;
    box-shadow:rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.form h3{
    padding-top: 5px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #0a1d3d;


}

.form p{
    font-size: 10px;
    font-family: 'Outfit', sans-serif;
    color: rgb(59, 57, 57);


}
@media screen and (max-width : 1499px) {
    .bloc{
        width: 90%;
    }
    
}


